body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #008080;
    color: #FFFFFF;
    margin: 0;
    padding: 5px; 
}

article {
    margin: 0;
    padding: 10px;
}

table {
    border: 1px solid gainsboro;
    border-collapse: collapse;
    width: 75%;
}

th, td {
    border-bottom: 1px solid gainsboro;
}

td img {
    float: left;
}

input#button {
    margin-top: 5px;
    background-color: #008080;
    color: #FFFFFF;
}

td p.descr {
    padding-left: 2em;
    font-size: 0.7em;
}

.samewidth {
    width: 15%;
    text-align: center;
}

.produtos, .valor {
    text-align: center;
}

.totalrow {
    text-align: right;
}

input {
    width: 20%;
}